@typeparam TEntity

<input class=" form-control" style="max-width:600px" placeholder="Search..."
    @bind="searchTerm" />

<button class="form-control" style="max-width:300px" 
        @onclick="OnSearchClicked">
        Search
</button>

@code {
    [Parameter]
    public List<TEntity> Items { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchTerm;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchTerm);
    }
}
