<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" /> 
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="EmployeeWebServer.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="_content/Blazorise.Icons.FontAwesome/v6/css/all.min.css" rel="stylesheet">
    <link href="EmployeeList.razor.css" rel="stylesheet" />
    <script src="~/script.js"></script>
    <HeadOutlet @rendermode="InteractiveServer" />

<style>

   
.prof {
            margin-left: 5px;
        }
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        .control-label{
            font-style: bold;
        }
      
     
        
    </style>

</head>

<body>
    
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    
</body>

</html>
