@page "/"

<PageTitle>List of Employee</PageTitle>




<div class="title">
    <h1 class="klentek">List of Employee</h1>
</div>
<div class="btn-home">
    <a class="edit-btn" href="Employees">
        <span aria-hidden="true">View List</span>
    </a>
</div>
